* {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    word-break:break-all;
    text-justify: newspaper;
    font-size: 100%;
}

.container .row .bg-light {
    background-color: #ffffff !important;
}

.navbar-collapse {
    flex-grow: 0.6 !important;
    align-items: center;
}


.navbar-nav {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    margin: 15px 0px;
    padding: 5px 30px;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.btn-outline-success {
    color: #002960 !important;
    border-color: #002960 !important;
}

.btn-outline-success:hover {
    background-color: #002960 !important;
    color: white !important;
    border-color: white !important;
}

.Header{
    height: 620px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.Header .Background-Image{
    position: relative;
    width: 100%;
    height: 620px;
    z-index: -1;
}


.Header .container .row .Banner_Career{
    position: absolute;
    top: 5%;
    display: flex;
    align-items: center;
}

.Banner_Career .Main{
    width: 50%;
    margin-left: 20%;
    
}

.Banner_Career .Banner h2,.Banner_Career .Banner_2 h2{
    font-size: 80px;
    color: #002960;
    font-weight: 700;
}

.Banner_Career .Banner{
    position: absolute;
    left: 6%;
}

.Banner_Career .Banner_2{
    position: absolute;
    right: 28%;
}


.Banner_Career {
    width: 45%;
}

.Banner_Career img{
    width: 65%;
}


.Positions {
    margin: 100px 0px;
}

.Positions .container .row .Position_List h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 40px;
}

.Position_List .Position_List_1,.Position_List .Position_List_2,.Position_List .Position_List_3{
    margin-top: 50px;
    text-align: justify;
    padding-left: 10%;
}

.Position_List_1 h3,.Position_List_2 h3,.Position_List_3 h3{
    text-align: center;
    color: #002960;
    margin-bottom: 30px;
}

.Position_List_1 ul li,.Position_List_2 ul li,.Position_List_3 ul li{
    padding-bottom: 10px;
    list-style: disc;
}

.Position_List_1 button,.Position_List_2 button,.Position_List_3 button{
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #002960;
    color: white;
    border: 0px solid;
    margin-top: 20px;
    border: 2px solid #002960;
}

button:hover{
    background-color: white;
    color: #002960;
    border: 2px solid #002960;
}

.contact {
    width: 60%;
    height: 500px;
    background-color: #002960;
    color: white;
    position: fixed;
    top: 15%;
    left: 20%;
    z-index: 1000;
    border-radius: 10px;
    display: none;
}

.Contact_form{
    padding: 50px 30px !important;
    padding-top: 10px !important;
}

.Contact_form h2{
    text-align: center;
}

.Contact_form .Heading{
    text-align: center;
    margin-bottom: 45px;
}

.closing_btn{
    display: flex;
    justify-content:flex-end;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.closing_btn button{
    font-size: 24px;
    padding: 4px 15px;
    border-radius: 50px;
    border: 0px solid;
    
}

.Contact_form form .col-12{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 30px;
    font-size: 20px;
}

.Contact_form form .col-12 .col-6{
    display: flex;
    align-items: center;
    gap: 25px;
}


form .col-12 p{
    margin-top: 10px;
}

form .col-12 input{
    font-size: 16px;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #002960;
}

.Contact_form form .col-12 .col-6 input{
    width: 75%;
}

.Contact_form form .col-12:nth-of-type(2){
    column-gap: 15px;
}

.Contact_form form .col-12 .col-6 select{
    width: 31%;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
}

form .col-12 input:focus{
    outline: 2px solid #0097b2;
    border: 0px;
}

#Document{
    width: 40%;
}

form .button{
    display: flex;
    justify-content: flex-end;
}

form button{
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #002960;
    border: 0px solid;
    margin-top: 20px;
    border: 2px solid #002960;
}

form button:hover{
    border: 2px solid #0097b2;
    color: #0097b2;
}


@media (min-width: 340px){

    .Header{
        height: 225px;
        margin-bottom: 50px;
    }
    
    .Header .Background-Image{
        position: relative;
        width: 150%;
        height: 230px;
        z-index: -1;
    }

    .Header .container .row .Banner_Career{
        /* top: 41%; */
        bottom: -37%;
        display: flex;
        align-items: center;
    }
    
    .Banner_Career .Main{
        width: 45%;
        display: flex;
        align-items: flex-start;
        height: 203px;
        margin-left: 32%;
        
    }
    
    .Banner_Career .Banner h2,.Banner_Career .Banner_2 h2{
        font-size: 24px;
        color: #002960;
        font-weight: 700;
    }
    
    .Banner_Career .Banner{
        left: 6%;
    }
    
    .Banner_Career .Banner_2{
        right: 4%;
    }
    
    
    /* .Banner_Career {
        width: 45%;
    } */
    
    .Banner_Career img{
        width: 70%;
        height: 171px;
    }
    
    
    .Positions{
        margin-top: 50px;
    }

    .Positions .container .row .Position_List h1 {
        font-size: 2rem !important;
    }

    .Position_List_1 h3, .Position_List_2 h3, .Position_List_3 h3 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 14px;
    }

    .contact{
        height: calc(100vh - 100px);
        width: calc(100% - 5%) !important;
        left: calc(100% - 97%);
        top: 10%;
        bottom: 5%;
        overflow-y: scroll !important;
    }

    .Contact_form{
        height: 700px;
    }

    .closing_btn{
        width: 100% !important;
        margin-bottom: 15px;
    }

    .Contact_form .Heading{
        margin-bottom: 20px;
    }

    form .col-12{
        flex-direction: column;
        row-gap: 10px !important;
        align-items: flex-start !important;
    }

    form .col-12 p {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .col-12 .Name ,.col-12 .Email,.col-12 .left ,.col-12 .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
    
    }

    form .col-12 input{
        width: 95%;
    }

    form .col-12:nth-of-type(2){
        margin-top: 10px;
    }

    form .col-12:nth-of-type(3){
        display: flex;
        flex-direction: colum;
        margin-top: 10px;
    }

    .Positions .container .row .Position_List h1{
        font-size: 3rem;
        color: #002960;
        margin-bottom: 20px;
    }

    .Position_List .Position_List_1, .Position_List .Position_List_2, .Position_List .Position_List_3 {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    #Document {
        width: 100%;
    }

    form select{
        width: 95%;
        font-size: 16px;
        height: 35px;
        border-radius: 5px;
    }



}

@media (min-width:410px){

    .Header {
        height: 300px !important;
    }

    .Header .Background-Image {
        height: 300px;
    }


}

@media (min-width:560px){

    .Header {
        height: 300px !important;
    }

    .Header .Background-Image {
        height: 300px;
    }


    #Document {
        width: auto;
    }
}

@media (min-width:660px){


    .Header {
        height: 400px !important;
    }

    .Header .Background-Image {
        height: 400px;
    }

}

@media (min-width:720px){
    
    .Header {
        height: 345px !important;
    }

    .Header .Background-Image {
        height: 320px;
    }

}

@media (min-width:760px){

    .Header {
        height: 350px !important;
    }

    .Header .Background-Image {
        height: 350px;
    }

}

@media (min-width:992px){


    .Header {
        height: 500px !important;
    }

    .Header .Background-Image {
        height: 500px;
    }


    .contact {
        height: calc(100vh - 300px);
        width: calc(100% - 40%) !important;
        left: calc(100% - 80%);
        top: 10%;
        bottom: 5%;
        overflow-y: hidden !important;
    }
}

@media (min-width:1200px){
    
    .Header {
        height: 620px !important;
    }

    .Header .Background-Image {
        height: 620px !important;
    }
}

@media (min-width:1300px){


}

@media (min-width:1400px){

    .Header {
        height: 700px !important;
    }

    .Header .Background-Image {
        height: 700px !important;
    }

    .contact {
        width: calc(100% - 60%) !important;
        left: calc(100% - 70%);
    }
}

@media (min-width:1600px){
    .Header {
        height: 810px !important;
    }

    .Header .Background-Image {
        height: 811px !important;
    }
}

@media (min-width:1900px){
    .Header {
        height: 900px !important;
    }

    .Header .Background-Image {
        height: 900px;
    }
}