*{
    font-family: "Roboto",sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
    text-align: justify;
    word-break: break-all;
}

.container .row .bg-light {
    background-color: #ffffff !important;
}

.navbar-collapse {
    flex-grow: 0.6 !important;
    align-items: center;
}


.navbar-nav {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn-outline-success{
    color: #002960 !important;
    border-color: #002960 !important;
}

.btn-outline-success:hover{
    background-color: #002960 !important;
    color: white !important;
    border-color: white !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    margin: 15px 0px;
    padding: 5px 30px;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


.Header{
    height: 620px;
    margin-bottom: 50px;
}

.Header .Background-Image{
    position: relative;
    width: 100%;
    height: 620px;
    z-index: -1;
}

.Header .Eclips_Image{
    position: absolute;
    width: 12%;
    right: 40px;
    top: 100px;
}
 
.Header .Vector_1{
    position: absolute;
    width: 14%;
    left: 575px;
    top: 450px;
    z-index: 1;
}

.Header .vector_2{
    position: absolute;
    width: 9%;
    left: 0px;
    top: 254px;
    z-index: 1;
}

.Header .Vector_3{
    position: absolute;
    width: 14%;
    left: 525px;
    top: 405px;
    z-index: 1;
}

.Header .Dots{
    position: absolute;
    width: 16%;
    right: 205px;
    top: 100px;
    z-index: 1;
} 

.Header .Charecter{
    position: absolute;
    width: 36%;
    right: 90px;
    top: 117px;
    height: 482px;
    z-index: 1;
}

.Header .container .row .Banner{
    color: white;
    position: absolute;
    top: 190px;
    margin-left: 85px;
}

.Banner h1{
    font-size: 3.5rem;
}

.Banner p{
    font-size: 17px;
}

/*----------------------------*/

.Social_Media{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Social_Media .container .row .Marketing_Details{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 45%;
    margin-right: 5%;
}

.Marketing_Details h3{
    font-size: 1.5rem;
    color: #727272;
    margin-bottom: 35px;
}

.row .Marketing_Map img{
    width: 85%;
    margin-left: 5%;
}

.Marketing_Startegy{
    margin-top: 50px;
    background-color: #002960;
}

.Marketing_Startegy .container .row{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row .Startegy img{
    width: 85%;
}

.row .Startegy_Details{
    padding-top: 50px;
    margin-top: 50px;
}

.Startegy_Details h3{
    font-weight: 700;
    margin-bottom: 30px;
}

.Managements {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    /* padding-top: 50px; */
}

.Managements .container .row .Media_Management_Content{
    padding-top: 100px;
    margin-top: 40px;
}

.Media_Management_Content h3{
    font-size: 2rem;
    color: #727272;
    font-weight: 500;
    margin-bottom: 30px;
}

.Media_Management_Content ul li{
    list-style: circle;
}

.Management_Pic img{
    width: 90%;
    height: 540px;
    margin-top: 100px;
    margin-left: 10%;
}

.Marketing_Platform_Details {
    margin: 50px 0px;
    padding: 50px 0px;
    background-color: #002960;
    color: white;
}

.Marketing_Platform_Details .container .row .Details_Pic img{
    width: 85%;
}

.row .Marketing_Platform{
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 100px;
}


.Marketing_Platform ul li{
    list-style: circle;
}

.Platform_Analys {
    margin: 50px 0px;
    padding:50px 0px;
}

.Platform_Analys .container .row .Analys_Statics h3{
    margin-bottom: 30px;
    color: #727272;
}

.Analys_Statics ul li{
    list-style: circle;
}

.row .Analys_Pic img{
    width: 100%;
}

.Contact-Section .Background{
    position: absolute;
    width: 71%;
    right: 0px;
    z-index: -1;
}

.Contact-Section .container{ 
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 100px;
}

.Contact-Section .container .Row .contact_Image img{
    width: 100%;
    padding-top: 70px;
}

.Contact_Input{
    float: right;
    padding-top: 130px;
    padding-left: 50px;
}

.Contact_Input h2{
    color: #002960;
    font-size: 40px;
}

.Contact_Input form{
    padding-top: 5px;
}

.Contact_Input .right_input{
    float: right;
}

.right_input p, .left_input p {
    margin-bottom: 10px;
    margin-top: 20px;
    color: #002960;
}


.right_input input ,.left_input input{
    width: 88%;
    border: 1px solid #72727273;
    height: 36px;
    border-radius: 6px;
}

form input{
    padding-left: 5px;
}

form .Project_Input{
    width: 95%;
    height: 59px;
    border: 1px solid #72727273;
    border-radius: 6px;
}

form .Privacy_Check{
    display: flex;
    gap: 10px;
    padding-top: 36px;
}

.Contact_Input p{
    margin-top: 36px;
    margin-bottom: 10px;
    color: #002960;
}

.Privacy_Check p{
    margin-top: 13px;
}



/* ----------------------------MEDIA QUERY---------------- */

@media (min-width:200px) {

    .Header{
        height: 200px;
        margin-bottom: 20px;
    }

    .Header .Background-Image {
        height: 200px;
    }

    .Header .Eclips_Image{
        top: 83px;
        right: 10px;
    }

    .Header .vector_2 {
        top: 150px;
    }

    .Header .Charecter{
        top: 161px;
        height: 78px;
        right: 21px;
        width: 32%;
    }

    .Header .Vector_3 {
        top: 121px;
        left: 121px;
    }

    .Header .Vector_1{
        top: 112px;
        left: 125px;
    }

    .Banner h1 {
        font-size: 15px;
    }

    .Banner p {
        font-size: 15px;
        width: 66%;
    }


    .Header .container .row .Banner{
        top: 95px;
        width: 94%;
        margin-left: 9px;
    }

    .Social_Media {
        margin-top: 10px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom:10px;
    }

    .Social_Media .container .row .Marketing_Details {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .Marketing_Details h3{
        font-size: 17px;
        margin-bottom: 10px;
    }

    .Marketing_Details p{
        font-size: 14px;
    }

    .Marketing_Startegy {
        margin-top: 10px;
    }

    .Marketing_Startegy .container .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .row .Startegy_Details {
        padding-top: 20px;
        margin-top: 10px;
    }

    .Startegy_Details h3 {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .Startegy_Details p{
        font-size: 15px;
    }

    .Managements {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }

    .Managements .container .row .Media_Management_Content {
        padding-top: 30px;
        margin-top: 10px;
    }

    .Media_Management_Content h3 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .Media_Management_Content p{
        font-size: 15px;
    }

    .Media_Management_Content ul li{
        font-size: 15px;
    }

    .Management_Pic img {
        width: 100%;
        height: 200px;
        margin-top: 10px;
        margin-left: 1%;
    }

    .Marketing_Platform_Details {
        margin: 10px 0px;
        padding: 20px 0px;
    }

    .Marketing_Platform_Details .container .row .Details_Pic img {
        margin-left: 5%;
        padding-top: 20px;
    }

    .row .Marketing_Platform {
        margin-top: 10px;
        padding-top: 20px;
        padding-left: 10px;
    }

    .Marketing_Platform h3{
        font-size: 18px;
    }

    .Marketing_Platform p{
        font-size: 15px;
    }

    .Marketing_Platform ul li{
        font-size: 15px;
    }

    .Platform_Analys {
        margin: 10px 0px;
        padding: 20px 0px;
    }

    .Platform_Analys .container .row .Analys_Statics h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .Analys_Statics p{
        font-size: 15px;
    }

    .Analys_Statics ul li{
        font-size: 15px;
    }

    .row .Analys_Pic img {
        width: 94%;
    }



    /* ------------- */
    .Contact-Section .container{
        margin-top: 10px;
    }

    .Contact-Section .container .Row{
        display: flex;
        flex-direction: column-reverse;
    }

    .Contact_Input {
        padding-top: 10px;
        padding-left: 10px;
    }

    .Contact-Section .container .Row .contact_Image img{
        padding-top: 10px;
    }

    .Contact_Input h2{
        font-size: 15px;
    }

    .Contact_Input form{
        display: flex;
        flex-direction: column;
    }

    .Contact_Input p {
        margin-top: 20px;
        margin-bottom: 7px;
        font-size: 15px;
    }

    .Contact_Input .Company{
        margin-top: 212px;
    }

    .Contact_Input .right_input ,.Contact_Input .left_input{
        width: 100%;
    }

    .right_input input, .left_input input {
        height: 40px;
        font-size: 14px;
    }

}


@media (min-width:300px){

    body .Nav_Bar {
        position: sticky;
        top: 0px;
        z-index: 1000;
        margin: 0px;
        max-width: 100% !important;
    }

    .navbar-collapse{
        width: 95%;
        z-index: 1000;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0px;
        padding-left: 45px;
        padding-bottom: 50px;
    }

    .Header{
        height: 350px;
        margin-bottom: 7%;
    }

    .Header .Background-Image{
        height: 350px;
    }

    .Header .Eclips_Image{
        right: 14px;
    }

    .Header .Vector_3 {
        left: 59px;
        top: 340px;
    }

    .Header .Vector_1{
        top: 325px;
        left: 59px;
    }

    .Header .vector_2{
        top: 17%;
    }

    .Header .Charecter{
        top: 125px;
        height: 250px;
        right: 10px;
    }

    .Header .container .row .Banner{
        top: 105px;
        margin-left: 24px;
        width: 91%;
    }

    .Banner h1 {
        font-size: 1.5rem;
    }

    .Banner p {
        font-size: 15px;
        width: 63%;
        text-align: left;
    }

    .Management_Pic img {
        width: 75%;
        height: 245px;
        margin-top: 10px;
        margin-left: 10%;
    }

    /* --------- */
    .Contact-Section{
        position: relative;
    }

    .Contact-Section .Background {
        top: 516px;
        width: 100%;
        height: 700px;
    }

    .Contact_Input h2 {
        font-size: 20px;
    }

    .Contact_Input {
        padding-top: 10px;
        padding-left: 45px;
    }
}

@media(min-width:400px){
    .Header .container .row .Banner{
        margin-left: 33px;
    }

    .Header .Charecter {
        right: 10px;
        height: 300px;
    }

    .Marketing_Details h3 {
        font-size: 20px;
        margin-bottom: 13px;
    }

    .Marketing_Details p {
        font-size: 15px;
    }

    .Startegy_Details h3 {
        margin-bottom: 13px;
        font-size: 21px;
    }

    .Startegy_Details p {
        font-size: 15px;
    }

    .Media_Management_Content h3 {
        font-size: 19px;
        margin-bottom: 13px;
    }

    .Media_Management_Content p {
        font-size: 15px;
    }

    .Media_Management_Content ul li{
        font-size: 15px;
    }

    .Management_Pic img {
        height: 290px;
    }

    .Marketing_Platform h3 {
        font-size: 21px;
    }

    .Marketing_Platform p {
        font-size: 16px;
    }

    .Marketing_Platform ul li{
        font-size: 16px;
    }

    .Platform_Analys .container .row .Analys_Statics h3 {
        font-size: 18px;
        margin-bottom: 13px;
    }

    .Analys_Statics p {
        font-size: 16px;
    }

    .Analys_Statics ul li{
        font-size: 16px;
    }

    /* ---------------- */
    .Contact-Section .Background {
        top: 582px;
        width: 100%;
        height: 665px;
    }


    /* ---------------- */
    .Contact_Input h2 {
        font-size: 22px;
    }

    .Contact_Input p {
        margin-top: 15px;
        margin-bottom: 3px;
        font-size: 17px;
    }

    .right_input input,
    .left_input input {
        height: 45px;
    }

    .Contact_Input .Company {
        margin-top: 195px;
    }

    .Contact_Input h2 {
        font-size: 20px;
    }
}

@media(min-width:576px){


    .Header .container .row .Banner{
        width: 80%;
    }


    .Header .Background-Image {
        height: 330px;
    }

    .Header {
        height: 350px;
    }

    .Banner h1 {
        font-size: 2rem;
    }

    .Header .Vector_3 {
        left: 267px;
        /* right: 200px; */
        top: 275px;
    }

    .Header .Vector_1 {
        left: 276px;
        /* right: 200px; */
        top: 256px;
    }

    .Header .vector_2 {
        top: 22%;
    }

    .Header .Charecter {
        right: 42px;
        height: 365px;
    }

    .Banner p {
        font-size: 12px;
    }

    .Management_Pic img {
        height: 380px;
    }

    /* --------------- */
    .Contact-Section {
        position: relative;
        overflow: hidden;
    }

    .Contact-Section .Background {
        top: 850px;
        height: 900px;
        width: 100%;
    }

    .Contact-Section .container .row {
        width: 100%;
    }

    .Contact_Input {
        padding-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .Contact_Input .right_input, .Contact_Input .left_input {
        width: 50%;
    }

    .Contact_Input h2 {
        font-size: 35px;
        margin-top: 100px;
    }

    .right_input p,
    .left_input p {
        margin-bottom: 10px;
        margin-top: 20px;
        color: #002960;
    }

    .Contact_Input .Company {
        margin-top: 20px;
    }

    .right_input input, .left_input input {
        width: 90%;
        height: 40px;
    }

    .Contact-Section .container .Row .contact_Image img {
        padding-top: 30px;
    }
}

@media(min-width:600px){
    .Header .Charecter{
        top: 75px;
    }
}

@media(min-width:768px){

    .Header {
        height: 425px;
    }

    .Header .Background-Image {
        height: 425px;
    }

    .Header .Vector_1 {
        left: 362px;
        /* right: 200px; */
        top: 291px;
    }

    .Header .Vector_3 {
        left: 342px;
        /* right: 200px; */
        top: 316px;
    }

    .Header .Charecter {
        right: 55px;
        height: 476px;
        width: 30%;
    }

    .Contact-Section .Background {
        top: 1061px;
        height: 650px;
        width: 100%;
    }

    .Header .container .row .Banner {
        margin-left: 45px;
        top: 150px;
    }

    .Banner h1 {
        font-size: 2.5rem;
    }

    .Banner p {
        font-size: 14px;
    }

    .Marketing_Details h3 {
        font-size: 23px;
        margin-bottom: 18px;
    }

    .Marketing_Details p {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .Startegy_Details h3 {
        margin-bottom: 23px;
        font-size: 22px;
    }

    .Startegy_Details p {
        font-size: 17px;
    }

    .Media_Management_Content h3 {
        font-size: 23px;
        margin-bottom: 19px;
    }

    .Media_Management_Content p{
        font-size: 16px;
    }

    .Media_Management_Content ul li{
        font-size: 16px;
    }

    .Managements {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .Management_Pic img {
        height: 450px;
        width: 54%;
        margin-left: 21%;
    }

    .Marketing_Platform_Details {
        margin: 30px 0px;
        padding: 30px 0px;
    }

    .Marketing_Platform h3 {
        font-size: 24px;
    }

    .Marketing_Platform p {
        font-size: 16px;
    }

    .Marketing_Platform ul li{
        font-size: 16px;
    }

    .Marketing_Platform_Details .container .row .Details_Pic img {
        margin-left: 17%;
        width: 57%;
        padding-top: 20px;
    }

    .Platform_Analys .container .row .Analys_Statics h3 {
        font-size: 23px;
        margin-bottom: 18px;
    }

    /* ------------- */
    .Contact-Section .Background {
        top: 1061px;
        height: 650px;
        width: 100%;
    }

    .Analys_Statics p {
        font-size: 16px;
    }

    .Analys_Statics ul li{
        font-size: 16px;
    }
}

@media (min-width:992px){

    .row{
        align-items: center;
    }

    .navbar-collapse{
        position: unset;
        padding-left: 0px;
        padding-bottom: 0px;
        width: auto;
    }

    .Header {
        height: 550px;
    }


    .Header .Background-Image {
        height: 550px;
    }

    .Header .Vector_1 {
        left: 462px;
        /* right: 200px; */
        top: 370px;
    }

    .Header .Vector_3 {
        left: 431px;
        /* right: 200px; */
        top: 400px;
    }

    .Header .Charecter {
        right: 73px;
        height: 608px;
    }

    .Header .container .row .Banner {
        margin-left: 10%;
        top: 170px;
        width: 80%;
    }

    .Banner p {
        font-size: 17px;
    }

    .Social_Media .container .row .Marketing_Details {
        width: 45%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .Marketing_Startegy {
        margin-top: 30px;
        padding: 50px 0px;
    }

    .Management_Pic img {
        height: 450px;
        width: 80%;
        margin-left: 10%;
    }

    .Marketing_Platform_Details {
        margin: 30px 0px;
        padding: 50px 0px;
    }

    .Platform_Analys {
        margin: 30px 0px;
        padding: 40px 0px;
    }

    /* -------------------- */
    .Contact-Section {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .Contact-Section .Background {
        width: 70%;
        top: 0px;
        height: 850px;
    }

    .Contact-Section .container .Row {
        flex-direction: row-reverse;
    }

    .Contact_Input {
        padding-top: 80px;
        padding-left: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .right_input p,
    .left_input p {
        margin-bottom: 10px;
        margin-top: 20px;
        color: #002960;
    }

    .Contact_Input h2 {
        margin-top: 0px;
    }

    .right_input input,
    .left_input input {
        width: 94%;
        height: 36px;
    }
}

@media(min-width:1100px){
    .navbar-collapse {
        flex-grow: 0.5 !important;
    }

    .Header .Vector_1 {
        left: 530px;
    }

    .Header .Vector_3 {
        left: 514px;
    }

    .Header .Charecter {
        right: 40px;
        width: 26%;
    }
}

@media(min-width:1200px){
    .Header {
        height: 620px;
    }

    .Header .Background-Image {
        height: 620px;
    }

    .Header .Vector_1 {
        left: 571px;
        top: 400px;
    }

    .Header .Vector_3 {
        left: 546px;
        top: 440px;
    }

    .Banner h1 {
        font-size: 3rem;
    }

    .Header .container .row .Banner{
        top: 190px;
    }

    .Header .Charecter {
        right: 87px;
        height: 676px;
    }

    .Contact-Section .Background{
        height: 750px !important;
    }


}

@media (min-width:1400px){

    .Header .Vector_1 {
        left: 675px;
        top: 450px;
    }

    .Header {
        height: 700px;
    }

    .Header .Background-Image {
        height: 700px;
    }

    .Header .Vector_3 {
        left: 640px;
        top: 492px;
    }

    .Header .Charecter {
        right: 100px;
        height: 764px;
    }

    .Banner h1 {
        font-size: 4rem;
    }
}

@media(min-width:1600px){

    .Header {
        height: 810px;
    }

    .Header .Background-Image {
        height: 811px;
    }

    .Header .Charecter {
        top: 8%;
        right: 7%;
        height: 882px;
    }

    .Header .vector_2 {
        top: 32%;
    }

    .Header .Vector_1 {
        left: 763px;
        top: 513px;
    }

    .Header .Vector_3 {
        top: 560px;
        left: 712px;
    }

    .Header .container .row .Banner{
        width: 81%;
        margin-left: 4%;
    }
}

@media (min-width:1900px){
    .Header {
        height: 900px;
    }

    .Header .Background-Image {
        height: 900px;
    }

    .Header .container .row .Banner {
        width: 74%;
        margin-left: 0px;
    }

    .Banner h1 {
        font-size: 5rem;
    }

    .Header .Charecter {
        top: 10%;
        right: 7%;
        height: 950px;
    }

    .Header .Vector_1 {
        left: 900px;
        top: 513px;
    }

    .Header .Vector_3 {
        top: 577px;
        left: 856px;
    }

    .Banner p {
        font-size: 23px;
    }

    /* ------------- */
    .Contact-Section .Background {
        width: 85%;
        top: 29px;
        height: 850px !important;
    }

    .Contact-Section .container .Row{
        width: 1800px;
    }

    .Contact-Section .container .row .contact_Image img {
        width: 80%;
    }

    .right_input input, .left_input input {
        width: 94%;
        height: 50px;
        font-size: 18px;
    }

    .right_input p, .left_input p {
        margin-top: 50px;
    }

    .left_input .Company {
        margin-top: 50px;
    }

    .Contact_Input h2{
        font-size: 4rem;
    }

    .Contact-Section .container .Row form .Project_Text{
        margin-top: 50px;
    }

    .Contact-Section .container .Row .contact_Image img {
        width: 80%;
    }
}