*{
    font-family: "Roboto",sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
    text-align: justify;
    word-break: break-all;
}

 .container .row .bg-light {
    background-color: #ffffff !important;
}

.navbar-collapse {
    flex-grow: 0.6 !important;
    align-items: center;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    margin: 15px 0px;
    padding: 5px 30px;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


.navbar-nav {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn-outline-success{
    color: #002960 !important;
    border-color: #002960 !important;
}

.btn-outline-success:hover{
    background-color: #002960 !important;
    color: white !important;
    border-color: white !important;
}

.Header{
    height: 620px;
    margin-bottom: 50px;
}

.Header .Background-Image{
    position: relative;
    width: 100%;
    height: 620px;
    z-index: -1;
}

.Header .Eclips_Image{
    position: absolute;
    width: 12%;
    right: 40px;
    top: 100px;
}
 
.Header .Vector_1{
    position: absolute;
    width: 14%;
    left: 575px;
    top: 450px;
    z-index: 1;
}

.Header .vector_2{
    position: absolute;
    width: 9%;
    left: 0px;
    top: 254px;
    z-index: 1;
}

.Header .Vector_3{
    position: absolute;
    width: 14%;
    left: 525px;
    top: 405px;
    z-index: 1;
}

.Header .Dots{
    position: absolute;
    width: 16%;
    right: 205px;
    top: 100px;
    z-index: 1;
} 

.Header .Charecter{
    position: absolute;
    width: 36%;
    right: 90px;
    top: 117px;
    height: 482px;
    z-index: 1;
}

.Header .container .row .Banner{
    color: white;
    position: absolute;
    top: 190px;
    margin-left: 85px;
}

.Banner h1{
    font-size: 3.5rem;
}

.Banner p{
    font-size: 17px;
}


.Content .container .row .Information{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.Information .Content_inform h2{
    font-size: 3rem;
    font-weight: 300;
}

.Information .Content_inform p{
    text-align: left !important;
    word-break: normal;
}

.Information .Inform_Picture img{
    width: 75%;
    height: 500px;
    margin-left: 20%;
    margin-top: 13%;
}

.Body{
    position: relative;
    height: 700px;
    margin:150px 0px;
}


.Body .Banner{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 670px;
}

.Body .container .row .Body_Picture{
    width: 100%;
}

.Body .container .row .Body_Picture img{
    width: 100%;
}

section .container .Android_Development h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 300;
}

section .container .row .Android p{
    text-align: left;
    word-break: normal;
}

.Android{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Android .Content {
    width: 40%;
    margin-left: 33%;
}

.Android .Android_Pic img{
    width: 40%;
}


.Development_images{
    position: relative;
    margin: 100px 0px;
}

.Development_images .Background{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 800px;
}

.Development_images .container .row .Demo img{
    width: 75%;
    margin: 50px 0px;
}

.Demo{
    display: flex;
    justify-content: center;
}

/*  */

.Contact-Section .Background{
    position: absolute;
    width: 71%;
    right: 0px;
    z-index: -1;
}

.Contact-Section .container{ 
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 100px;
}

.Contact-Section .container .Row .contact_Image img{
    width: 100%;
    padding-top: 70px;
}

.Contact_Input{
    float: right;
    padding-top: 130px;
    padding-left: 50px;
}

.Contact_Input h2{
    color: #002960;
    font-size: 40px;
}

.Contact_Input form{
    padding-top: 5px;
}

.Contact_Input .right_input{
    float: right;
}

.right_input p, .left_input p {
    margin-bottom: 10px;
    margin-top: 20px;
    color: #002960;
}


.right_input input ,.left_input input{
    width: 88%;
    border: 1px solid #72727273;
    height: 36px;
    border-radius: 6px;
}

form input{
    padding-left: 5px;
}

form .Project_Input{
    width: 95%;
    height: 59px;
    border: 1px solid #72727273;
    border-radius: 6px;
}

form .Privacy_Check{
    display: flex;
    gap: 10px;
    padding-top: 36px;
}

.Contact_Input p{
    margin-top: 36px;
    margin-bottom: 10px;
    color: #002960;
}

.Privacy_Check p{
    margin-top: 13px;
}


/* ---------------------MEDIA----------------- */

@media (min-width:200px) {

    .Header{
        height: 200px;
        margin-bottom: 20px;
    }

    .Header .Background-Image {
        height: 200px;
    }

    .Header .Eclips_Image{
        top: 83px;
        right: 10px;
    }

    .Header .vector_2 {
        top: 150px;
    }

    .Header .Charecter{
        top: 161px;
        height: 78px;
        right: 21px;
        width: 30%;
    }

    .Header .Vector_3 {
        top: 121px;
        left: 121px;
    }

    .Header .Vector_1{
        top: 112px;
        left: 125px;
    }

    .Banner p {
        font-size: 7px;
        width: 66%;
    }


    .Header .container .row .Banner{
        top: 95px;
        width: 94%;
        margin-left: 9px;
    }

    /*  */

    .Contact-Section .container{
        margin-top: 10px;
    }

    .Contact-Section .container .Row{
        display: flex;
        flex-direction: column-reverse;
    }

    .Contact_Input {
        padding-top: 10px;
        padding-left: 10px;
    }

    .Contact-Section .container .Row .contact_Image img{
        padding-top: 10px;
    }

    .Contact_Input h2{
        font-size: 15px;
    }

    .Contact_Input form{
        display: flex;
        flex-direction: column;
    }

    .Contact_Input p {
        margin-top: 20px;
        margin-bottom: 7px;
        font-size: 15px;
    }

    .Contact_Input .Company{
        margin-top: 212px;
    }

    .Contact_Input .right_input ,.Contact_Input .left_input{
        width: 100%;
    }

    .right_input input, .left_input input {
        height: 40px;
        font-size: 14px;
    }
    
}

@media (min-width:300px){

    body .Nav_Bar {
        position: sticky;
        top: 0px;
        z-index: 1000;
        margin: 0px;
        max-width: 100% !important;
    }

    .navbar-collapse{
        width: 95%;
        z-index: 1000;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0px;
        padding-left: 45px;
        padding-bottom: 50px;
    }


    .Header{
        height: 500px;
        margin-bottom: 7%;
    }

    .Header .Background-Image{
        height: 500px;
    }

    .Header .Cross_mark{
        position: absolute;
        width: 34px;
        top: 325px;
        left: 10%;
    }

    .Header .Round {
        top: 400px;
        width: 80px;
        right: 0px;
        position: absolute;
    }

    .Header .Vector_1{
        top: 265px;
        left: 59px;
    }

    .Header .vector_2{
        top: 17%;
    }

    .Header .Charecter{
        top: 132px;
        height: 151px;
        right: 19px;
    }

    .Header .container .row .Banner{
        top: 105px;
        margin-left: 24px;
        width: 91%;
    }

    .Banner h1 {
        font-size: 2rem;
        text-align: center;
    }

    .Banner p {
        font-size: 14px;
        width: 100%;
        text-align: left;
        word-break: normal;
    }


    /* -----contact */
    .Contact-Section{
        position: relative;
    }

    .Contact-Section .Background {
        top: 516px;
        width: 100%;
        height: 700px;
    }

    .Contact_Input h2 {
        font-size: 20px;
    }

    .Contact_Input {
        padding-top: 10px;
        padding-left: 45px;
    }
}

@media (min-width:340px){
    .Header .Charecter {
        top: 335px;
        height: 200px;
        right: 21%;
        width: 200px;
    }

    .Information .Content_inform h2{
        font-size: 1.5rem;
    }

    .Information .Content_inform p{
        font-size: 15px;
    }

    .Information .Inform_Picture img{
        height: auto;
        margin-left: 0px;
        margin-top: 5%;
    }

    .Inform_Picture{
        display: flex;
        justify-content: center;
    }

    .Body{
        height: 200px;
        margin: 50px 0px;
    }

    .Body .Banner{
        height: 180px;
    }

    section .container .Android_Development h2{
        font-size: 1.7rem;
    }

    .Information .Inform_Picture img {
        width: 60%;
    }

    .Android {
        flex-direction: column;
    }

    .Android .Content{
        width: auto;
        margin-left: 0px;
    }

    .Android .Android_Pic{
        display: flex;
        justify-content: center;
    }

    .Android .Android_Pic img {
        width: 70%;
    }

    .Development_images .Background{
        height: 275px;
    }

    .Development_images {
        position: relative;
        margin: 50px 0px;
    }
}

@media(min-width:400px){
    .Header .container .row .Banner{
        margin-left: 33px;
    }

    .Header .Charecter {
        right: 27%;
        height: 183px;
    }

    .Body .Banner {
        height: 215px;
    }

    .Development_images .Background {
        height: 315px;
    }

    /*  */

    .Contact-Section .Background {
        top: 582px;
        width: 100%;
        height: 665px;
    }


    /* ---------------- */
    .Contact_Input h2 {
        font-size: 22px;
    }

    .Contact_Input p {
        width: 75%;
        margin-top: 15px;
        margin-bottom: 3px;
        font-size: 17px;
    }

    .right_input input,
    .left_input input {
        height: 45px;
    }

    .Contact_Input .Company {
        margin-top: 195px;
    }

    .Contact_Input h2 {
        font-size: 20px;
    }
}

@media (min-width:468px){
    .Body {
        height: 242px;
        margin: 50px 0px;
    }

    .Body .Banner {
        height: 242px;
    }

    .Development_images .Background {
        height: 345px;
    }
}

@media (min-width:500px){
    .Body {
        height: 248px;
        margin: 50px 0px;
    }

    .Body .Banner {
        height: 248px;
    }

    .Development_images .Background {
        height: 350px;
    }

    .Contact-Section .Button{
        margin-right: 5%;
    }
}

@media(min-width:576px){
    .Header .Background-Image {
        height: 330px;
    }

    .Header {
        height: 350px;
    }

    .Banner h1 {
        font-size: 2rem;
        text-align: left;
    }

    .Header .container .row .Banner{
        width: 80%;
    }

    .Header .Vector_3 {
        left: 267px;
        /* right: 200px; */
        top: 275px;
    }

    .Header .Vector_1 {
        left: 276px;
        /* right: 200px; */
        top: 256px;
    }

    .Header .vector_2 {
        top: 22%;
    }

    .Header .Cross_mark {
        position: absolute;
        width: 26px;
        top: 285px;
        left: 10%;
        rotate: 90deg;
    }

    .Header .Round {
        top: 200px;
    }

    .Header .Charecter {
        top: 131px;
        right: 28px;
        height: 187px;
    }

    .Banner p {
        font-size: 12px;
        width: 57%;
    }

    .Body {
        height: 300px;
        margin: 50px 0px;
    }

    .Body .Banner {
        height: 300px;
    }

    .Development_images .Background {
        height: 400px;
    }

    .Contact-Section {
        position: relative;
        overflow: hidden;
    }

    .Contact-Section .Background {
        top: 850px;
        height: 900px;
        width: 100%;
    }

    .Contact-Section .container .row {
        width: 100%;
    }

    .Contact_Input {
        padding-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .Contact_Input .right_input, .Contact_Input .left_input {
        width: 50%;
    }

    .Contact_Input h2 {
        font-size: 35px;
        margin-top: 100px;
    }

    .right_input p,
    .left_input p {
        margin-bottom: 10px;
        margin-top: 20px;
        color: #002960;
    }

    .Contact_Input .Company {
        margin-top: 20px;
    }

    .right_input input, .left_input input {
        width: 90%;
        height: 40px;
    }

    .Contact-Section .container .Row .contact_Image img {
        padding-top: 30px;
    }
}


@media(min-width:768px){

    .Header {
        height: 425px;
    }

    .Header .Background-Image {
        height: 425px;
    }

    .Header .Vector_1 {
        left: 362px;
        /* right: 200px; */
        top: 291px;
    }

    .Header .Vector_3 {
        left: 342px;
        /* right: 200px; */
        top: 316px;
    }

    .Header .Charecter {
        width: 277px;
        right: 33px;
        height: 278px;
    }

    .Header .Cross_mark {
        width: 34px;
        top: 348px;
    }

    .Contact-Section .Background {
        top: 1061px;
        height: 650px;
        width: 100%;
    }

    .Header .container .row .Banner {
        margin-left: 45px;
        top: 150px;
    }

    .Banner h1 {
        font-size: 2.5rem;
    }

    .Banner p {
        font-size: 14px;
    }

    .Body{
        height: 380px;
    }

    .Body .Banner {
        height: 380px;
    }

    .Development_images .Background {
        height: 493px;
    }

    .Contact_Input p {
        width: 95%;
    }

    
}

@media (min-width:992px){

    .navbar-collapse{
        position: unset;
        padding-left: 0px;
        padding-bottom: 0px;
        width: auto;
    }

    .Header {
        height: 550px;
    }


    .Header .Background-Image {
        height: 550px;
    }

    .Header .Vector_1 {
        left: 462px;
        /* right: 200px; */
        top: 370px;
    }

    .Header .Vector_3 {
        left: 431px;
        /* right: 200px; */
        top: 400px;
    }

    .Header .Charecter {
        width: 370px;
        right: 35px;
        height: 374px;
    }

    .Header .Round {
        top: 235px;
        width: 165px;
    }

    .Header .Cross_mark {
        width: 40px;
        top: 400px;
    }

    .Header .container .row .Banner {
        margin-left: 10%;
        top: 170px;
        width: 80%;
    }

    .Banner p {
        font-size: 17px;
    }

    .Information .Content_inform h2 {
        font-size: 2.2rem;
    }

    .Information .Content_inform p {
        font-size: 17px;
    }

    .Information .Inform_Picture img {
        width: 50%;
    }

    .Body {
        height: 550px;
        margin: 75px 0px;
    }

    .Body .Banner {
        height: 550px;
    }

    section .container .Android_Development h2 {
        font-size: 2.2rem;
    }

    .Development_images .Background {
        height: 628px;
    }

    .Contact-Section {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .Contact-Section .Background {
        width: 70%;
        top: 0px;
        height: 850px;
    }

    .Contact-Section .container .Row {
        flex-direction: row-reverse;
    }

    .Contact_Input {
        padding-top: 80px;
        padding-left: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .right_input p,
    .left_input p {
        margin-bottom: 10px;
        margin-top: 20px;
        color: #002960;
    }

    .Contact_Input h2 {
        margin-top: 0px;
    }

    .right_input input,
    .left_input input {
        width: 94%;
        height: 36px;
    }
}

@media(min-width:1100px){
    .navbar-collapse {
        flex-grow: 0.5 !important;
    }

    .Header .Vector_1 {
        left: 530px;
    }

    .Header .Vector_3 {
        left: 514px;
    }

    .About_Banner .Banner_Content {
        padding-top: 120px;
    }

    .container {
        max-width: 1100px;
    }

    .Header .container .row .Banner {
        width: 78%;
    }

    
    
}

@media(min-width:1200px){
    .Header {
        height: 620px;
    }

    .Header .Background-Image {
        height: 620px;
    }

    .Header .Vector_1 {
        left: 571px;
        top: 400px;
    }

    .Header .Vector_3 {
        left: 546px;
        top: 440px;
    }

    .Header .Charecter {
        right: 35px;
        width: 473px;
        height: 450px;
    }

    .Banner h1 {
        font-size: 3rem;
    }

    .Header .container .row .Banner{
        top: 190px;
    }

    .Information .Content_inform h2 {
        font-size: 3rem;
    }

    .Information .Inform_Picture img {
        width: 75%;
    }

    .Development_images .Background {
        height: 727px;
    }

    section .container .Android_Development h2 {
        font-size: 3rem;
    }


    .Contact-Section .Background{
        height: 750px !important;
    }
}

@media (min-width:1400px){

    .Header .Vector_1 {
        left: 675px;
        top: 450px;
    }

    .Header {
        height: 700px;
    }

    .Header .Background-Image {
        height: 700px;
    }

    .Header .Vector_3 {
        left: 640px;
        top: 492px;
    }

    .Header .Cross_mark {
        width: 58px;
        top: 500px;
    }

    .Header .Charecter {
        right: 60px;
        height: 542px;
        width: 526px;
    }

    .Banner h1 {
        font-size: 4rem;
    }

    .Body {
        height: 700px;
    }

    .Body .Banner{
        height: 700px;
    }

    .Development_images .Background {
        height: 840px;
    }
}

@media(min-width:1600px){

    .Header {
        height: 810px;
    }

    .Header .Background-Image {
        height: 811px;
    }

    .Header .Charecter {
        top: 23%;
        right: 7%;
        height: 542px;
    }

    .Header .vector_2 {
        top: 32%;
    }

    .Header .Vector_1 {
        left: 763px;
        top: 513px;
    }

    .Header .Vector_3 {
        top: 560px;
        left: 712px;
    }

    .Header .Round {
        top: 235px;
        width: 257px;
    }

    .Header .container .row .Banner{
        width: 81%;
        margin-left: 0px;
    }
}

@media (min-width:1900px){
    .Header {
        height: 900px;
    }

    .Header .Background-Image {
        height: 900px;
    }

    .Header .container .row .Banner {
        width: 74%;
        margin-left: 0px;
    }

    .Banner h1 {
        font-size: 5rem;
    }

    .Header .Charecter {
        top: 21%;
        right: 7%;
        height: 638px;
        width: 640px;
    }

    .Header .Vector_1 {
        left: 900px;
        top: 513px;
    }

    .Header .Vector_3 {
        top: 577px;
        left: 856px;
    }

    .Banner p {
        font-size: 23px;
    }

    .Contact-Section .Background {
        width: 85%;
        top: 29px;
        height: 850px !important;
    }

    .Contact-Section .container .Row{
        width: 1800px;
    }

    .Contact-Section .container .row .contact_Image img {
        width: 80%;
    }

    .right_input input, .left_input input {
        width: 94%;
        height: 50px;
        font-size: 18px;
    }

    .right_input p, .left_input p {
        margin-top: 50px;
    }

    .left_input .Company {
        margin-top: 50px;
    }

    .Contact_Input h2{
        font-size: 4rem;
    }

    .Contact-Section .container .Row form .Project_Text{
        margin-top: 50px;
    }

    .Contact-Section .container .Row .contact_Image img {
        width: 80%;
    }
}