*{
    font-family: "Roboto",sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
}

.container .row .bg-light {
    background-color: #ffffff !important;
}

.navbar-collapse {
    flex-grow: 0.6 !important;
    align-items: center;
}


.navbar-nav {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    margin: 15px 0px;
    padding: 5px 30px;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.btn-outline-success{
    color: #002960 !important;
    border-color: #002960 !important;
}

.btn-outline-success:hover{
    background-color: #002960 !important;
    color: white !important;
    border-color: white !important;
}

.Header{
    height: 620px;
    margin-bottom: 50px;
}

.Header .Background-Image{
    position: relative;
    width: 100%;
    height: 620px;
    z-index: -1;
}

.Header .Eclips_Image{
    position: absolute;
    width: 12%;
    right: 40px;
    top: 100px;
}
 
.Header .Vector_1{
    position: absolute;
    width: 14%;
    left: 575px;
    top: 450px;
    z-index: 1;
}

.Header .vector_2{
    position: absolute;
    width: 9%;
    left: 0px;
    top: 254px;
    z-index: 1;
}

.Header .Vector_3{
    position: absolute;
    width: 14%;
    left: 525px;
    top: 405px;
    z-index: 1;
}

.Header .Dots{
    position: absolute;
    width: 16%;
    right: 205px;
    top: 100px;
    z-index: 1;
} 

.Header .Charecter{
    position: absolute;
    width: 36%;
    right: 90px;
    top: 117px;
    height: 482px;
    z-index: 1;
}

.Header .container .row .Banner{
    color: white;
    position: absolute;
    top: 190px;
    margin-left: 85px;
}

.Banner h1{
    font-size: 3.5rem;
}

.Banner p{
    font-size: 17px;
}


.Intro_Design{
    margin: 50px 0px;
    padding: 50px 0px;
}

.Intro_Design .container .row .Intro_Content h2{
    margin-bottom: 30px;
}

.Services{
    margin: 50px 0px;
    padding: 50px 0px;
}

.container .row .Heading h4{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 40px;
}

.row .List_Services{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 40px;
}

.List_Services .Audit ,.List_Services .Research,.List_Services .Product,.List_Services .App_Design ,.List_Services .Strategy{
    padding: 20px;
    border: 2px solid;
    border-radius: 5px;
    width: 30%;
}

.Audit img ,.Research img ,.App_Design img,.Product img ,.Strategy img{
    width: 60px;
}


.Audit h6,.Research h6 ,.App_Design h6,.Product h6 ,.Strategy h6{
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
}


/* -----------------------Meadia---------------------- */
@media (min-width:200px){

    body .Nav_Bar{
        position: sticky;
        top: 0px;
        z-index: 1000;
    }

    .Header .container .row .Banner {
        top: 137px !important;
    }

    .navbar-collapse{
        width: 95%;
        z-index: 1000;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0px;
        padding-left: 45px;
        padding-bottom: 50px;
    }

    .Intro_Design{
        margin:10px 0px;
        padding: 20px 0px;
    }

    .Intro_Design .container .row .Intro_Content h2 {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 600;
    }

    .Intro_Content p{
        font-size: 10px;
    }

    .Services{
        margin: 1px 0px;
        padding: 0px 0px;
    }

    .container .row .Heading h4{
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .row .List_Services{
        padding-top: 10px;
        gap: 30px;
    }

    .List_Services .Audit, .List_Services .Research, .List_Services .Product, .List_Services .App_Design, .List_Services .Strategy {
        padding: 10px;
        width: 100%;
    }

    .Audit img, .Research img, .App_Design img, .Product img, .Strategy img {
        width: 30px;
    }

    .Audit h6, .Research h6, .App_Design h6, .Product h6, .Strategy h6 {
        font-weight: 700;
        font-size: 15px;
        margin-top: 7px;
    }

    .Audit p,.Product p,.Research p,.App_Design p,.Strategy p{
        font-size: 10px;
    }

    .Listing_Designs{
        padding: 10px 0px;
        margin: 20px 0px;
        text-align: center;
    }

    .Section_Topics p {
        font-size: 11px;
        text-align: center !important;
    }


}

@media (min-width:300px){
    .Contact-Section .Background {
        top: 516px;
        width: 100%;
        height: 700px;
    }

    .Contact_Input h2 {
        font-size: 20px;
    }
}

@media (min-width:400px){

    .Intro_Design .container .row .Intro_Content h2 {
        font-size: 18px;
    }

    .container .row .Heading h4 {
        font-size: 1.3rem;
    }

    .List_Services .Audit, .List_Services .Research, .List_Services .Product, .List_Services .App_Design, .List_Services .Strategy {
        padding: 10px;
        width: 65%;
        margin-left: 16%;
    }

    .Listing_Designs {
        padding: 25px 0px;
        margin: 40px 0px;
        text-align: center;
    }

    .Contact-Section .Background {
        top: 482px;
        width: 100%;
        height: 665px;
    }
}

@media (min-width:576px){

    .Header .container .row .Banner{
        width: 80%;
    }

    .Intro_Design .container .row .Intro_Content h2 {
        font-size: 22px;
    }

    .Intro_Content p {
        font-size: 14px;
    }

    .container .row .Heading h4 {
        font-size: 1.6rem;
    }

    .List_Services{
        gap: 15px;
        padding-top: 25px;
    }


    .List_Services .Audit, .List_Services .Research, .List_Services .Product, .List_Services .App_Design, .List_Services .Strategy {
        width: 45%;
        margin-left: 1%;
    }
}

@media(min-width:768px){
    .Intro_Design .container .row .Intro_Content h2 {
        font-size: 25px;
    }

    .Intro_Content p {
        font-size: 15px;
    }

    .container .row .Heading h4{
        margin-bottom: 20px;
    }

    .List_Services .Audit, .List_Services .Research, .List_Services .Product, .List_Services .App_Design, .List_Services .Strategy {
        padding: 20px;
    }

    .Audit img, .Research img, .App_Design img, .Product img, .Strategy img {
        width: 40px;
    }

    .Audit h6, .Research h6, .App_Design h6, .Product h6, .Strategy h6{
        font-size: 18px;
    }

    .Audit p, .Product p, .Research p, .App_Design p, .Strategy p {
        font-size: 15px;
    }
}

@media (min-width:992px){

    .navbar-collapse{
        position: unset;
        padding-left: 0px;
        padding-bottom: 0px;
        width: auto;
    }


    .Header .container .row .Banner {
        top: 200px !important;
        width: 80%;
    }
}

@media (min-width:1200px){
    .Intro_Design {
        margin: 50px 0px;
        padding: 50px 0px;
    }

    .Intro_Design .container .row .Intro_Content h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .Intro_Content p {
        font-size: 16px;
        width: 80%;
        margin-left: 6%;
    }

    .container .row .Heading h4 {
        margin-bottom: 40px;
        font-size: 2.5rem;
    }

    .Services {
        margin: 40px 0px;
        padding: 20px 0px;
    }

    .List_Services .Audit, .List_Services .Research, .List_Services .Product, .List_Services .App_Design, .List_Services .Strategy {
        width: 30%;
        margin-left: 1%;
    }
}

@media(min-width:1900px){
    .Contact-Section .Background {
        width: 85%;
        top: 29px;
    }

    .Contact-Section .container .Row{
        width: 1800px;
    }

    .Contact-Section .container .row .contact_Image img {
        width: 80%;
    }

    .right_input input, .left_input input {
        width: 94%;
        height: 50px;
        font-size: 18px;
    }

    .right_input p, .left_input p {
        margin-top: 50px;
    }

    .left_input .Company {
        margin-top: 50px;
    }

    .Contact_Input h2{
        font-size: 4rem;
    }

    .Contact-Section .container .Row form .Project_Text{
        margin-top: 50px;
    }

    .Contact-Section .container .Row .contact_Image img {
        width: 80%;
    }
}
